html, body {
  height: 100%;
  margin: 0;
  color: #262828;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*  ==== NAVIGATION ====*/

.hamburger {
  position: fixed;
  right: 10px;
  top: 10px;
  height: 30px;
}

/* .burger img {
  height: 30px;
} */

.navigation {
  list-style-type: none;
  position: fixed;
  right: 50px;
  top: 10px;
}

.hidden {
  display: none;
}

.navigation li {
  display: inline;
  padding: 5px;
}

.page-wrapper {
  max-width: 1700px;
  margin: 0 auto;


  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lang-options {
  position: absolute;
  top: 0;
  right: 200px;
  letter-spacing: 2.2px;
}

.lang-options ul {
  display: flex;
  margin-left: -40px;
}


.social-top ul{
  width: 10%;
  background-color: #C0881F;
  margin: 0;
  border-radius: 0 0 4px 4px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  -webkit-padding-start: 0;

}

.social-top ul li {
  padding: 5px;
  display:inline-block;
  *display:inline; /*IE7*/
  *zoom:1; /*IE7*/
  margin-right: 5px;
}

.social-top i {
  color: white;
}

#logo img {
  width: 70px;
  margin: 10px 0 0 10px;
}

.name {
  margin: 0;
}

.name h1 {
  margin: 0;
  text-transform: uppercase;
  color: #262828;
  font-size: 1.4em;
  display: flex;
  flex-direction: column;
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-family: 'Helvetica', Arial;
  line-height: 25.3px;
  font-weight: 550;
  letter-spacing: 0.17em;
}

.content {
  height: 100%;
}

.content-inside {
  width: 80%;
  margin: 0 auto;
  /* padding-bottom: 160px; */
}

.picture-main {
  text-align: center;
}

.picture-main img {
  max-height: 37vh;
}

.columns {
  display: flex;
  justify-content: space-between;
  /* font-family: 'Cabin', sans-serif; */
  font-family: 'Helvetica', Arial;
  padding-bottom: 60px;
}

.columns h2 {
  color: #262828;
  /* letter-spacing: 1.5px; */
  letter-spacing: 0.17em;
  font-size: 1.55em;
}

.columns p {
  font-size: 0.85em;
}

.column {
  color: #586368;
  width: 30%;
}

.column:nth-child(1) {
  margin-right: 20px;
  text-align: left;
}

.column:nth-child(2) {
  margin-left: 20px;
  text-align: right;
}

.gallery-wrapper {
  display: flex;
  /* float: left; */
  width: 100%;
  /* min-height: 30%; */

}

.gallery-wrapper div {
  /* min-height: 30%; */
  display: inline-block;
  overflow: hidden;
}

.gallery-wrapper img {
  -webkit-filter: brightness(1.1) saturate(70%);
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  /* min-height: 80%; */
  /* height: 10em; */
}

.links-right {
  transform: rotate(-90deg);
  margin: 0;
  position: absolute;
  /* right: 0; */
  right: 360px;
  top: 30%;
  letter-spacing: 2.2px;
}

.links-right ul {
  display: flex;
  margin-left: -40px;
}

#footer {

  width: 100%;
  height: 160px;
  /* margin-top: -160px; */
  margin-top: 0px;
  background-color: #C0881F;
  color: white;
  padding: 15px 0px;

  position: relative;
}

.footer-imgs {
  /* display: flex;
  justify-content: space-around;
  flex-wrap: wrap; */
  width: 100%;
  display: flex;
  padding-top: 30px;
}

.footer-imgs div {
  display: inline-block;
  padding: 0 4px;
  /* overflow: hidden; */
}

.footer-imgs img{
  /* width: 11%; */
  /* max-height: 90px; */

  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  /* display: inline; */
}

#footer ul {
  display: flex;
  /* width: 100%; */
  /* flex: 1; */
  /* text-align: right; */
}

#footer ul li {
  padding: 0 5px;
  /* text-align: right; */
}

.footer-info {
  /* position: absolute;
  bottom: 0; */
  /* display: flex;
  justify-content: space-between; */
  width: 100%;
  font-family: 'Cabin', sans-serif;
  font-weight: lighter;
  letter-spacing: 1.1px;
}

.footer-info ul {
  float: right;
}


@media (max-width: 480px) {
  .page-wrapper {
    width: 100%;
    max-width: 100vw;
    margin: 0;
    /* padding: 10px; */
  }


  .content {
    width: 100vw;
    margin: 0;
  }

  .name h1 {
    padding-left: 20px;
  }

  .columns {
    display: flex;
    justify-content: center;
  }

  .column {
    width: 40vw;
    margin: 0;
    padding: 0px;
  }

  .picture-main {
    width: 100vw;
  }

  .picture-main img {
    width: 70vw;
    text-align: center;
  }

  .content-inside {
    width: 100vw;
    margin: 0;
  }

  .column:nth-child(1) span {
    display: block;
  }

  .column:nth-child(1), .column:nth-child(2) {
    margin: 0;
    padding: 8px;
  }

  .page-wrapper {
    width: 100vw;
  }

  .gallery-wrapper {
    display:none;
  }

  #footer {
    display: none;
  }

  .social-top ul{
    background-color: #C0881F;
    display: inline-block;
    border-radius: 0 4px 4px 0;
    text-align: center;

    -webkit-padding-start: 0;
    position: absolute;
    top: 35%;
    left: 0;

  }
}
